@import "reset";
@import "font-awesome";
@import "jquery.bxslider";

@import "default";
@import "header";

@import "products/index";
@import "products/show";
@import "products/category";
@import "products/buy-confirm";

@import "users/show";
@import "users/about&news";
@import "users/card-form";
@import "users/add-card";
@import "users/order_history";

@import "device/sessions";
@import "device/flash";

@import "carts/show";

body {
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  height: 100%;
  width: 100%;
}
