.btn-default {
  border-radius: 5px;
  box-shadow: -2px -2px 3px #B22222 inset;
  cursor: pointer;
  border: none;
  outline-style: none;
  color: white;
  background-color: #FF4F50;
}

.bold {
  font-weight: bold;
}
