.inform-box {
  height: 100%;
  width: 100%;
  margin: 120px auto;
  text-align: center;
  color: #696969;
  .inform-heading {
    font-size: 30px;
    font-weight: bold;
  }
  .inform-text {
    box-shadow: 2px 2px 4px silver;
    margin: 40px auto;
    width: 40%;
    border-radius: 8px;
    padding: 50px;
  }
}
